{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'article:article_list' %}">
                        最新
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'article:article_list' %}?order=total_views">
                        最热
                    </a>
                </li>
            </ol>
        </nav>
        <!-- 新增，搜索栏 -->
        <div class="row">
            <div class="col-auto mr-auto">
                <form class="form-inline">
                    <label class="sr-only">content</label>
                    <input type="text"
                           class="form-control mb-2 mr-sm-2"
                           name="search"
                           placeholder="搜索文章..."
                           value="{{ search.0 }}"
                           required
                    >
                </form>
            </div>
            <!-- 新增，搜索提示语 -->
            {% if search %}
                {% if articlepost_list %}
                    <h5><span style="color: red">"{{ search.0 }}"</span>的搜索结果如下：</h5>
                {% else %}
                    <h5>暂无<span style="color: red">"{{ search.0 }}"</span>有关的文章。</h5>
                {% endif %}
            {% endif %}
        </div>

        <div class="row mt-2">
            {% for article in articlepost_list %}
                <!-- 文章内容 -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!-- 卡片容器 -->
                    <div class="card h-100">
                        <!-- 标题 -->
                        <h4 class="card-header">{{ article.title }}</h4>
                        <!-- 摘要 -->
                        <div class="card-body">
                            <p class="card-text">{{ article.body|slice:'100' }}...</p>
                        </div>
                        <!-- 注脚 -->
                        <div class="card-footer">
                            <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                            <!-- 显示浏览量 -->
                            <span>
                                <small class="col align-self-end" style="color: gray;">
                                    浏览: {{ article.total_views }}
                                </small>
                            </span>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="pagination row">
            <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="btn btn-secondary">
                    {{ page_obj.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ page_obj.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="btn btn-secondary">
                    {{ page_obj.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ page_obj.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ page_obj.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
            </div>
        </div>
    {% endif %}

{% endblock content %}