{% extends 'base.html' %}

{% block main_content %}
    {{ title }}
    <!-- 面包屑 -->
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item fs-15">
            <a class="breadcrumb-link active" href="#"><i class="my-fa fa fa-clock-o" aria-hidden="true"></i>&nbsp;时间排序</a>
        </li>
        <li class="breadcrumb-item fs-15">
            <a class="breadcrumb-link" href="#"><i class="my-fa fa fa-fire" aria-hidden="true"></i>&nbsp;热度排序</a>
        </li>
    </ol>
    <!--普通文章显示-->
    {% for article in article_list %}
        <div class="my-card card mb-3">
            <div class="card-body">
                <!-- 文章标题 -->
                <h1 class="mt-0 fs-15">
                    <a href="{% url 'article:detail' article.id %}" target="_blank">
                        <b>{{ article.get_full_title }}</b>
                    </a>
                </h1>
                <!-- 文章摘要 -->
                <span class="fs-13">{{ article.digest }}</span>
            </div>
            <div class="card-footer text-muted">
                <div class="fs-12">
                    <span><i class="my-fa fa fa-book" aria-hidden="true"></i>&nbsp;《{{ article.column }}》</span>
                    <span>
                            <i class="my-fa fa fa-calendar ml-2" aria-hidden="true"></i>&nbsp;{{ article.updated|date }}
                        </span>
                    <a class="float-right d-none d-lg-block" href="{% url 'article:detail' article.id %}"
                       target="_blank">
                        <b class="text-danger">开始阅读→</b>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
