<div class="col-lg-9 p-2">
    <!--普通文章显示-->
    <div class="my-card card mb-1">
        <div class="card-body">
            <h1 class="mt-0 fs-17">
                <a href="#" target="_blank"><b>Linux下如何修改默认的python版本</b>
                </a>
            </h1>
            <span class="fs-15">
                新装的Linux系统（比如说Ubuntu），默认的python版本都是python2，那么如何修改默认的python版本呢？
            </span>
        </div>
        <div class="card-footer text-muted">
            <div class="fs-12">
                <a href="#" target="_blank">
                    <span><i class="my-fa fa fa-book" aria-hidden="true">《备忘录》</i></span>
                </a>
                <span><i class="my-fa fa fa-calendar ml-2" aria-hidden="true"></i>2019年7月8日</span>
                <span><i class="my-fa fa fa-eye ml-2" aria-hidden="true"></i>353</span>&nbsp;
                <span><i class="my-fa fa fa-comments ml-2" aria-hidden="true"></i>0</span>
                <span><i class="my-fa fa fa-thumbs-up ml-2" aria-hidden="true"></i>0</span>
                <a class="float-right d-none d-lg-block" href="#"
                   target="_blank">
                    <b class="text-danger">开始阅读→</b></a>

            </div>
        </div>
    </div>
</div>