<!--导航-->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 border-bottom">
    <a class="navbar-brand p-0 ml-2 mr-2" href="/">
        <strong><span class="text-danger">个人</span>&nbsp;<span class="text-success">数据分享</span></strong>
    </a>
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
    {#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}

    {#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
    {#        <ul class="navbar-nav mr-auto fs-16">#}
    {#            <li class="nav-item active">#}
    {#                <a class="nav-link" href="/">文章</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/">教程</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/">知识</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/">关于</a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </div>#}
</nav>